<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis imperdiet massa tincidunt nunc pulvinar sapien et. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus. Purus faucibus ornare suspendisse sed. Venenatis tellus in metus vulputate eu. At urna condimentum mattis pellentesque id nibh tortor id aliquet. A scelerisque purus semper eget duis at tellus. Imperdiet sed euismod nisi porta lorem mollis aliquam. Dictum non consectetur a erat nam at lectus urna. Iaculis eu non diam phasellus vestibulum lorem sed risus ultricies. Lobortis mattis aliquam faucibus purus in massa tempor. Mi quis hendrerit dolor magna. Sed pulvinar proin gravida hendrerit lectus. Fringilla urna porttitor rhoncus dolor purus. Tristique et egestas quis ipsum suspendisse ultrices gravida.</p>
        <p>Quisque sagittis purus sit amet volutpat consequat mauris nunc. Orci phasellus egestas tellus rutrum. Phasellus egestas tellus rutrum tellus pellentesque eu. Semper eget duis at tellus at urna. Nec nam aliquam sem et tortor consequat id porta nibh. Tortor at risus viverra adipiscing at in tellus integer feugiat. Penatibus et magnis dis parturient montes. Facilisis gravida neque convallis a cras semper auctor neque vitae. Vulputate dignissim suspendisse in est. Tristique senectus et netus et. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque.</p>          
        <p>Cursus sit amet dictum sit. Vel facilisis volutpat est velit egestas dui id ornare arcu. In eu mi bibendum neque egestas congue. Vulputate eu scelerisque felis imperdiet proin fermentum. Sed euismod nisi porta lorem mollis aliquam. Imperdiet sed euismod nisi porta lorem mollis aliquam ut. Morbi quis commodo odio aenean sed adipiscing. Nisi vitae suscipit tellus mauris. Lectus magna fringilla urna porttitor rhoncus dolor purus. Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien. Lorem ipsum dolor sit amet.</p>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-padding">
              <a href="./toc">Table of Contents</a>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-padding ion-float-right">
              <a href="./chapter2">Chapter 2</a>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
