<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Page Turner App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>An app meant to show the workings of a multi-page book style application where you can switch between pages like flipping pages in a book.</p>
    <h3>Hope you enjoy!</h3>
  </div>
  <div class="ion-padding ion-float-right">
    <ion-button expand="block" shape="round" color="primary" fill="outline"><a href="./cover-page">BEGIN!</a></ion-button>
  </div>
</ion-content>
